:root {
  --white: #fffffc;
  --gray-1: #e9ecef;
  --gray-2: #dee2e6;
  --gray-3: #ced4da;
  --gray-4: #adb5bd;
  --gray-5: #6c757d;
  --gray-6: #495057;
  --gray-7: #343a40;
  --black: #212529;
  --yellow: #ffe74c;
  --red-1: #ff5964;
  --red-2: #ce4d4d;
  --green-1: #6bf178;
  --green-2: #289f3b;
  --blue-1: #35a7ff;
  --blue-2: #1365dd;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  scrollbar-color: var(--black) var(--white);
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--black);
}

.custom-modal {
  margin: 0;
  width: 50vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
