:root {
  --red: #e63946ff;
  --blue-1: #1d3557ff;
  --blue-2: #457b9dff;
  --blue-3: #a8dadcff;
  --blue-4: #f1faeeff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
